* {
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}



header {
  background-color: #1F2937;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 3vw;
    p {
      color: #F9FAF8;
      font-weight: 900;
      font-size: 24px;
    }
    .links {
      display: flex;
      gap: 32px;
      li {
        list-style: none;
        a {
          color: #E5E7EB;
          text-decoration: none;
          font-size: 18px;
        }
      }
    }
  }
}



.contents {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 0px 3vw;
    padding: 82px 0px;
    .hero-text {
      color: #ffffff;
      max-width: 500px;
      h1 {
        font-size: 48px;
        margin: 0;
      }
      p {
        font-size: 18px;
        margin: 16px 0;
      }
      button {
        background-color: #3882F6;
        color: #E5E7EB;
        font-size: 18px;
        font-weight: 700;
        border: 0;
        border-radius: 8px;
        padding: 8px 20px;
      }
    }
  }
}

.projects {
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 0px 5vw;
    max-width: 1000px;
    padding: 64px 0px;
    h2 {
      color: #1F2937;
      font-size: 36px;
      font-weight: 900;
      margin: 0;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 8px;
        max-width: 150px;
        img {
          border: 3px solid #3882F6;
          border-radius: 8px;
        }
        h3, p {
          margin: 0
        }
      }
    }
  }
}

.quote {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  .container {
    display: flex;
    flex-direction: column;
    margin: 0px 7vw;
    max-width: 700px;
    padding: 82px 0;
    .quote-text {
      color: #1F2937;
      font-size: 36px;
      font-weight: 300;
      margin: 0;
    }
    .source {
      font-size: 18px;
      font-weight: 700;
      margin: 0;
      padding-left: 90%;
    }
  }
}

.cta {
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    gap: 32px;
    margin: 64px 9vw;
    max-width: 1000px;
    padding: 32px 64px;
    .cta-text {
      h2 {
        color: #F9FAF8;
        font-size: 20px;
        margin: 0 0 4px 0;
      }
      p {
        color: #F9FAF8;
        margin: 0;
      }
    }
    button {
      background-color: #3882F6;
      color: #F9FAF8;
      font-size: 16px;
      font-weight: 700;
      border: 2px solid #F9FAF8;
      border-radius: 8px;
      padding: 8px 20px;
      margin: auto;
    }
  }
}



footer {
  background-color: #1F2937;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E5E7EB;
    gap: 8px;
    margin: 0px 3vw;
    padding: 12px;
  }
}